@media (max-width: 991px) {
  /* -----Xây dựng phần Navbar----- */
  .nav-item:nth-child(3) {
    display: none !important;
  }
  .nav-item:nth-child(4) {
    border-left: 0 !important;
  }

  /* -----Xây dựng phần Chứng chỉ - Giải thưởng----- */
  #certificate img {
    margin-bottom: 1.5rem;
  }

  /* -----Xây dựng phần Dự án----- */
  .project-icon i {
    display: inline-block; /* làm icon và text luôn cùng hàng với nhau */
  }
  .project-brief {
    display: flex; /* chuyển số năm và icon nằm ngang nhau */
    align-items: center;
  }
}
